In [402]:
import sqlite3 as sqlt
import pandas as pd
from datetime import datetime
import dateutil.relativedelta as oper_date
import io
import requests as req
import numpy as np

In [18]:
querie = """select * from exports where "Cod. Mun" in {} and 
"NCM" like "6402%";"""
grendene_cidades = "(4307906, 4304804,  2312908, 2931350, 2304202, 2304400)"
alpargatas_cidades = "(2604007, 2504009, 3143302, 3530607)"

In [19]:
con = sqlt.connect("big_data2.db")
cursor = con.cursor()

In [601]:
def get_trimestre(string):
    #print(string)
    mes, ano = string.split("T")
    ano = "20" + ano
    dict_mes = {"1":3, "2":6, "3":9, "4":12}
    return datetime(int(ano), dict_mes[mes], 1)

def data_clean_db(dataframe):
    dict_nomes_colunas = {"month":"data","US$ de P1":"financeiro","Desc. Mun":"municipio",
                          "Kg Liq de P1":"peso","Qtd de P1":"quantidade"}
    dataframe.rename(columns=dict_nomes_colunas,inplace=True)
    dataframe.drop(axis=1,columns=['Cod. Mun', 'municipio', 'NCM', "Desc. NCM"],inplace=True)
    dataframe.data = dataframe.data.apply(
        lambda data: datetime.strptime(data.split()[0], "%Y-%m-%d"))
    dataframe.set_index("index", inplace=True)
    dataframe.financeiro = dataframe.financeiro.astype("int")
    dataframe.peso = dataframe.peso.astype("int") 
    
    return dataframe

def data_clean_xls(dataframe):
    dataframe.reset_index(inplace=True)
    grendene_exports_of = dataframe[["index","Volume exportado Grendene"]]
    grendene_exports_of.rename(columns={"index":"data","Volume exportado Grendene":"volume"},inplace=True)

    alpargatas_exports_of = dataframe[["Unnamed: 2","Volume exportado Alpargatas"]]
    alpargatas_exports_of.rename(columns={"Unnamed: 2":"data","Volume exportado Alpargatas":"volume"},inplace=True)
    grendene_exports_of.data = grendene_exports_of.data.apply(lambda data:data.date())
    alpargatas_exports_of.data = alpargatas_exports_of.data.apply(lambda data:data.date())
    
    alpargatas_exports_of.dropna(inplace=True)
    grendene_exports_of.volume = grendene_exports_of.volume.astype("int")
    alpargatas_exports_of.volume = alpargatas_exports_of.volume.astype("int")

    return (grendene_exports_of, alpargatas_exports_of)

In [243]:
grendene_db = pd.read_sql_query(querie.format(grendene_cidades), con)
alpargatas_db = pd.read_sql_query(querie.format(alpargatas_cidades), con)

grendene_db = data_clean_db(grendene_db)
alpargatas_db = data_clean_db(alpargatas_db)

In [247]:
grendene_db

       financeiro     peso  quantidade       data
index
571        247150    44329       66090 2003-01-01
634          4917      894        2784 2003-01-01
764       6328919  1126374     2831893 2003-01-01
19625       20160     4922       10080 2003-01-01
20383        3308      372         720 2003-01-01
20384       63372     2829        6120 2003-01-01
683        143018    22594       36348 2004-01-01
745          6364      540        1104 2004-01-01
925          7611      575         864 2004-01-01
926       7677591  1417216     3503986 2004-01-01
927        184923    18206       30888 2004-01-01
23246       14112     2461        5040 2004-01-01
24122       62013     7276       19324 2004-01-01
24123      133711    12307       36150 2004-01-01
798        731187   110121      198162 2005-01-01
1072      6549434  1111105     2966404 2005-01-01
1073       230718    25380       36564 2005-01-01
26639       30282     5995       12408 2005-01-01
26640       94401     9648       29518 2005-01-01
787        769011    87265      170223 2006-01-01
1086      8287476  1422512     4039646 2006-01-01
1087       124035    10283       18082 2006-01-01
27400        3399      320         888 2006-01-01
819       1004293    85750      225420 2007-01-01
1057      8768751  1206722     3646675 2007-01-01
1058        35177     2642        5400 2007-01-01
29111       56494     4675       10644 2007-01-01
734        242192    19786       51167 2008-01-01
1038     17994530  2669906     7734585 2008-01-01
2031       378841   109240      310200 2008-01-01
...           ...      ...         ...        ...
1540     11180565   650041     1628684 2011-12-01
2469       425964    96594      276240 2011-12-01
33953      113010     5351       12564 2011-12-01
1241        35792     2981        9668 2012-12-01
1242        76762     4190       11268 2012-12-01
1422     11067698  1101186     3502040 2012-12-01
1423     12483838   787354     1903868 2012-12-01
31639       85496     3690       10010 2012-12-01
1456       208070    16760       50736 2015-12-01
1457         2011       57          96 2015-12-01
1458        26163     1088        2199 2015-12-01
1720     18012583  1854818     5920160 2015-12-01
1721     13981069   755113     1838306 2015-12-01
36640        6372      280         774 2015-12-01
36641       74879     3199        8709 2015-12-01
1557         3359      104         168 2016-12-01
1558       137939     5969       19322 2016-12-01
1802     18668883  1800353     5615253 2016-12-01
1803         6120      334         450 2016-12-01
1804     12774988   719733     1765248 2016-12-01
38547       61691     4661       12744 2016-12-01
38548      221984    11686       26628 2016-12-01
1720       548779    43893      149424 2017-12-01
1721          918       20          72 2017-12-01
1970     21315783  2165844     6749535 2017-12-01
1971         3658      422         564 2017-12-01
1972     12236555   676267     1588436 2017-12-01
35699       10643      764        1900 2017-12-01
35700          32        5          16 2017-12-01
35701       86955     1907        4334 2017-12-01

[1174 rows x 4 columns]

In [24]:
exportacoes_oficiais = pd.read_excel("Exportação calçados.xlsx")
grendene_exports_of, alpargatas_exports_of = data_clean_xsls(exportacoes_oficiais)

/home/rafa/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/home/rafa/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/home/rafa/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
for index, linha in grendene_exports_of.iterrows():
    soma = grendene_db[grendene_db.data==linha["data"]].financeiro.sum()
    string = "data: {}\nvalor movimentado oficial: {}\nvalor movimentado no db:   {}\n\n"
    print(string.format(linha["data"], linha["volume"],soma))

data: 2009-03-01
valor movimentado oficial: 15722000
valor movimentado no db:   11944829


data: 2009-06-01
valor movimentado oficial: 8141000
valor movimentado no db:   7911437


data: 2009-09-01
valor movimentado oficial: 7724000
valor movimentado no db:   7493393


data: 2009-12-01
valor movimentado oficial: 16698000
valor movimentado no db:   13119399


data: 2010-03-01
valor movimentado oficial: 21201000
valor movimentado no db:   19620984


data: 2010-06-01
valor movimentado oficial: 10173000
valor movimentado no db:   10515877


data: 2010-09-01
valor movimentado oficial: 9213000
valor movimentado no db:   17392900


data: 2010-12-01
valor movimentado oficial: 14046000
valor movimentado no db:   23130423


data: 2011-03-01
valor movimentado oficial: 12832000
valor movimentado no db:   11603149


data: 2011-06-01
valor movimentado oficial: 7481000
valor movimentado no db:   6839422


data: 2011-09-01
valor movimentado oficial: 9313000
valor movimentado no db:   8500638


data: 2011-12-01
valor movimentado oficial: 12903000
valor movimentado no db:   21191885


data: 2012-03-01
valor movimentado oficial: 14244000
valor movimentado no db:   11812899


data: 2012-06-01
valor movimentado oficial: 7796000
valor movimentado no db:   9423632


data: 2012-09-01
valor movimentado oficial: 8800000
valor movimentado no db:   17159201


data: 2012-12-01
valor movimentado oficial: 14500000
valor movimentado no db:   23749586


data: 2013-03-01
valor movimentado oficial: 15100000
valor movimentado no db:   13201951


data: 2013-06-01
valor movimentado oficial: 9662000
valor movimentado no db:   9751678


data: 2013-09-01
valor movimentado oficial: 10930000
valor movimentado no db:   16064193


data: 2013-12-01
valor movimentado oficial: 14873000
valor movimentado no db:   0


data: 2014-03-01
valor movimentado oficial: 15780000
valor movimentado no db:   11126079


data: 2014-06-01
valor movimentado oficial: 9144000
valor movimentado no db:   14457797


data: 2014-09-01
valor movimentado oficial: 11395000
valor movimentado no db:   17370252


data: 2014-12-01
valor movimentado oficial: 15874000
valor movimentado no db:   0


data: 2015-03-01
valor movimentado oficial: 12419000
valor movimentado no db:   13012342


data: 2015-06-01
valor movimentado oficial: 8645000
valor movimentado no db:   11054937


data: 2015-09-01
valor movimentado oficial: 10107000
valor movimentado no db:   16168204


data: 2015-12-01
valor movimentado oficial: 14755500
valor movimentado no db:   32311147


data: 2016-03-01
valor movimentado oficial: 11419000
valor movimentado no db:   9940301


data: 2016-06-01
valor movimentado oficial: 7374000
valor movimentado no db:   8692710


data: 2016-09-01
valor movimentado oficial: 10220000
valor movimentado no db:   9507289


data: 2016-12-01
valor movimentado oficial: 11209000
valor movimentado no db:   31874964


data: 2017-03-01
valor movimentado oficial: 11016000
valor movimentado no db:   12355528


data: 2017-06-01
valor movimentado oficial: 9228000
valor movimentado no db:   13281736


data: 2017-09-01
valor movimentado oficial: 8733000
valor movimentado no db:   15122495


data: 2017-12-01
valor movimentado oficial: 15994000
valor movimentado no db:   34203323


data: 2018-03-01
valor movimentado oficial: 10991000
valor movimentado no db:   0

In [17]:
for index, linha in alpargatas_exports_of.iterrows():
    soma = alpargatas_db[alpargatas_db.data==linha["data"]].financeiro.sum()
    string = "data: {}\nvalor movimentado oficial: {}\nvalor movimentado no db:   {}\n\n"
    print(string.format(linha["data"], linha["volume"],soma))

data: 2010-03-01
valor movimentado oficial: 6500000
valor movimentado no db:   6198785


data: 2010-06-01
valor movimentado oficial: 7500000
valor movimentado no db:   4336305


data: 2010-09-01
valor movimentado oficial: 6100000
valor movimentado no db:   5720937


data: 2010-12-01
valor movimentado oficial: 6100000
valor movimentado no db:   7886964


data: 2011-03-01
valor movimentado oficial: 7600000
valor movimentado no db:   5540689


data: 2011-06-01
valor movimentado oficial: 8300000
valor movimentado no db:   7246531


data: 2011-09-01
valor movimentado oficial: 6100000
valor movimentado no db:   6769557


data: 2011-12-01
valor movimentado oficial: 6100000
valor movimentado no db:   7740834


data: 2012-03-01
valor movimentado oficial: 7692000
valor movimentado no db:   9975289


data: 2012-06-01
valor movimentado oficial: 10484000
valor movimentado no db:   9916039


data: 2012-09-01
valor movimentado oficial: 5797000
valor movimentado no db:   12162386


data: 2012-12-01
valor movimentado oficial: 6424000
valor movimentado no db:   8333469


data: 2013-03-01
valor movimentado oficial: 10869000
valor movimentado no db:   10916214


data: 2013-06-01
valor movimentado oficial: 10175000
valor movimentado no db:   6188350


data: 2013-09-01
valor movimentado oficial: 5627000
valor movimentado no db:   4948514


data: 2013-12-01
valor movimentado oficial: 6931000
valor movimentado no db:   0


data: 2014-03-01
valor movimentado oficial: 9997000
valor movimentado no db:   11861786


data: 2014-06-01
valor movimentado oficial: 11388000
valor movimentado no db:   7983948


data: 2014-09-01
valor movimentado oficial: 7088000
valor movimentado no db:   10201413


data: 2014-12-02
valor movimentado oficial: 6353000
valor movimentado no db:   0


data: 2015-03-04
valor movimentado oficial: 9300000
valor movimentado no db:   0


data: 2015-06-01
valor movimentado oficial: 10000000
valor movimentado no db:   6646015


data: 2015-09-01
valor movimentado oficial: 7896000
valor movimentado no db:   13412893


data: 2015-12-01
valor movimentado oficial: 6529000
valor movimentado no db:   13220662


data: 2016-03-01
valor movimentado oficial: 8720000
valor movimentado no db:   5083134


data: 2016-06-01
valor movimentado oficial: 8645000
valor movimentado no db:   6432034


data: 2016-09-01
valor movimentado oficial: 5088000
valor movimentado no db:   6131307


data: 2016-12-01
valor movimentado oficial: 5559000
valor movimentado no db:   12729593


data: 2017-03-01
valor movimentado oficial: 9068000
valor movimentado no db:   6030621


data: 2017-06-01
valor movimentado oficial: 9572000
valor movimentado no db:   6420699


data: 2017-09-01
valor movimentado oficial: 4565000
valor movimentado no db:   7510942


data: 2017-12-01
valor movimentado oficial: 6456000
valor movimentado no db:   10988578

In [235]:
grendene_db

,Cod. Mun,municipio,NCM,financeiro,peso,quantidade,data
index,,,,,,,
571,2304202,CRATO-CE,64022000,247150,44329,66090,2003-01-01
634,2304400,FORTALEZA-CE,64022000,4917,894,2784,2003-01-01
764,2312908,SOBRAL-CE,64022000,6328919,1126374,2831893,2003-01-01
19625,4304804,CARLOS BARBOSA-RS,64029900,20160,4922,10080,2003-01-01
20383,4307906,FARROUPILHA-RS,64022000,3308,372,720,2003-01-01
20384,4307906,FARROUPILHA-RS,64029900,63372,2829,6120,2003-01-01
683,2304202,CRATO-CE,64022000,143018,22594,36348,2004-01-01
745,2304400,FORTALEZA-CE,64021900,6364,540,1104,2004-01-01
925,2312908,SOBRAL-CE,64021900,7611,575,864,2004-01-01
926,2312908,SOBRAL-CE,64022000,7677591,1417216,3503986,2004-01-01
927,2312908,SOBRAL-CE,64029900,184923,18206,30888,2004-01-01
23246,4304804,CARLOS BARBOSA-RS,64029900,14112,2461,5040,2004-01-01
24122,4307906,FARROUPILHA-RS,64022000,62013,7276,19324,2004-01-01
24123,4307906,FARROUPILHA-RS,64029900,133711,12307,36150,2004-01-01
798,2304202,CRATO-CE,64022000,731187,110121,198162,2005-01-01
1072,2312908,SOBRAL-CE,64022000,6549434,1111105,2966404,2005-01-01
1073,2312908,SOBRAL-CE,64029900,230718,25380,36564,2005-01-01
26639,4307906,FARROUPILHA-RS,64022000,30282,5995,12408,2005-01-01
26640,4307906,FARROUPILHA-RS,64029900,94401,9648,29518,2005-01-01
787,2304202,CRATO-CE,64022000,769011,87265,170223,2006-01-01
1086,2312908,SOBRAL-CE,64022000,8287476,1422512,4039646,2006-01-01
1087,2312908,SOBRAL-CE,64029900,124035,10283,18082,2006-01-01
27400,4307906,FARROUPILHA-RS,64022000,3399,320,888,2006-01-01
819,2304202,CRATO-CE,64022000,1004293,85750,225420,2007-01-01
1057,2312908,SOBRAL-CE,64022000,8768751,1206722,3646675,2007-01-01
1058,2312908,SOBRAL-CE,64029900,35177,2642,5400,2007-01-01
29111,4307906,FARROUPILHA-RS,64022000,56494,4675,10644,2007-01-01
734,2304202,CRATO-CE,64022000,242192,19786,51167,2008-01-01
1038,2312908,SOBRAL-CE,64022000,17994530,2669906,7734585,2008-01-01
2031,2931350,TEIXEIRA DE FREITAS-BA,64022000,378841,109240,310200,2008-01-01
...,...,...,...,...,...,...,...
1540,2312908,SOBRAL-CE,64029990,11180565,650041,1628684,2011-12-01
2469,2931350,TEIXEIRA DE FREITAS-BA,64022000,425964,96594,276240,2011-12-01
33953,4307906,FARROUPILHA-RS,64029990,113010,5351,12564,2011-12-01
1241,2304400,FORTALEZA-CE,64022000,35792,2981,9668,2012-12-01
1242,2304400,FORTALEZA-CE,64029990,76762,4190,11268,2012-12-01
1422,2312908,SOBRAL-CE,64022000,11067698,1101186,3502040,2012-12-01
1423,2312908,SOBRAL-CE,64029990,12483838,787354,1903868,2012-12-01
31639,4307906,FARROUPILHA-RS,64029990,85496,3690,10010,2012-12-01
1456,2304400,FORTALEZA-CE,64022000,208070,16760,50736,2015-12-01
1457,2304400,FORTALEZA-CE,64029190,2011,57,96,2015-12-01
1458,2304400,FORTALEZA-CE,64029990,26163,1088,2199,2015-12-01
1720,2312908,SOBRAL-CE,64022000,18012583,1854818,5920160,2015-12-01
1721,2312908,SOBRAL-CE,64029990,13981069,755113,1838306,2015-12-01
36640,4307906,FARROUPILHA-RS,64022000,6372,280,774,2015-12-01
36641,4307906,FARROUPILHA-RS,64029990,74879,3199,8709,2015-12-01
1557,2304400,FORTALEZA-CE,64029190,3359,104,168,2016-12-01
1558,2304400,FORTALEZA-CE,64029990,137939,5969,19322,2016-12-01
1802,2312908,SOBRAL-CE,64022000,18668883,1800353,5615253,2016-12-01
1803,2312908,SOBRAL-CE,64029190,6120,334,450,2016-12-01
1804,2312908,SOBRAL-CE,64029990,12774988,719733,1765248,2016-12-01
38547,4307906,FARROUPILHA-RS,64022000,61691,4661,12744,2016-12-01
38548,4307906,FARROUPILHA-RS,64029990,221984,11686,26628,2016-12-01
1720,2304400,FORTALEZA-CE,64022000,548779,43893,149424,2017-12-01
1721,2304400,FORTALEZA-CE,64029990,918,20,72,2017-12-01
1970,2312908,SOBRAL-CE,64022000,21315783,2165844,6749535,2017-12-01
1971,2312908,SOBRAL-CE,64029190,3658,422,564,2017-12-01
1972,2312908,SOBRAL-CE,64029990,12236555,676267,1588436,2017-12-01
35699,4307906,FARROUPILHA-RS,64022000,10643,764,1900,2017-12-01
35700,4307906,FARROUPILHA-RS,64029190,32,5,16,2017-12-01
35701,4307906,FARROUPILHA-RS,64029990,86955,1907,4334,2017-12-01

In [252]:
g = grendene_db
anos = list(range(2003,2018))
trimestres = [3, 6, 9, 12]
balanco_mensal = pd.DataFrame(columns=["1M","2M","3M" ,"trimestre"])
mes3 = (lambda exportacao: exportacao[2] if len(exportacao) == 3 else 0)
for ano in anos:
    for trimestre in trimestres:
        trimestre_ = datetime(ano, trimestre, 1)
        tabela_tr = g[(g.data <= trimestre_) & 
                      (g.data > trimestre_ - oper_date.relativedelta(months=3))]
        #g -= tabela_tr
        exportacao = tabela_tr.groupby("data").quantidade.sum()
        balanco_mensal = balanco_mensal.append(
                    {"1M": exportacao[0],
                    "2M": exportacao[1],
                     "3M": mes3(exportacao),
                     "trimestre": trimestre_ }, ignore_index=True)

In [253]:
balanco_mensal.set_index("trimestre",inplace=True)
balanco_mensal

                 1M       2M       3M
trimestre
2003-03-01  2917687  2990283  2452614
2003-06-01  2197177  1767084   661129
2003-09-01  1046892  1678653        0
2003-12-01  1970830  1059055  2594101
2004-03-01  3633704  3999037  3650149
2004-06-01  2617339  1367714   956113
2004-09-01  1145208  1710888        0
2004-12-01  2219661  1825165  2341841
2005-03-01  3243056  3573561  3017752
2005-06-01  2376469  1099159  1643567
2005-09-01  2005853  2529357  1216100
2005-12-01  1447167  1348316  3025025
2006-03-01  4228839  4173091  4297237
2006-06-01  2095784  2073746  1229339
2006-09-01  1175262  2235232  2969099
2006-12-01  2078997  1787993  3068374
2007-03-01  3888139  5055361  3026261
2007-06-01  3128807  1553287  1835429
2007-09-01  2249176  3272847  2780883
2007-12-01  2444514  3174633  2863572
2008-03-01  8102110  6321099  4755067
2008-06-01  2850212  2004656  1890066
2008-09-01  2669581  3223286  4513222
2008-12-01  2770032  2386557  5822909
2009-03-01  5202739  6500850  4264563
2009-06-01  2805723  2287034  2664148
2009-09-01  2971295  2442842  2360039
2009-12-01  4197487  4113328  4652808
2010-03-01  9530317  7593412  7058361
2010-06-01  4269327  3197443  3011365
2010-09-01  2896775  2766030  4212989
2010-12-01  3429586  3689509  5952327
2011-03-01  5481372  4191267  3375775
2011-06-01  2232380  2719129  1702390
2011-09-01  3209728  3361715  2404515
2011-12-01  3797751  4292737  5042245
2012-03-01  6540856  4829070  3540698
2012-06-01  2036243  2702207  2133365
2012-09-01  2113034  3108209  4128864
2012-12-01  4506690  3994618  5436854
2013-03-01  6428217  4297164  4131638
2013-06-01  3765839  3197748  2639239
2013-09-01  4404378  3988724  3981169
2013-12-01  3680125  3930582        0
2014-03-01  6513788  4596387  3500217
2014-06-01  3608676  3292564  3226442
2014-09-01  3326394  3488788  4550423
2014-12-01  4283608  3834673        0
2015-03-01  4690940  3953887  3618103
2015-06-01  2592876  2732830  3173226
2015-09-01  3497139  4044280        0
2015-12-01  3100905  3799703  7820980
2016-03-01  4884341  2580620  3053189
2016-06-01  2694727  2508020  2632864
2016-09-01  3340283  3634296  2774321
2016-12-01  2484673  3428753  7439813
2017-03-01  4621419  2549952  3455513
2017-06-01  2229274  3236956  3712698
2017-09-01  2703712  2681736  3413656
2017-12-01  3815020  3558880  8494281

In [618]:
url = "http://ri.grendene.com.br/Arquivos/Grendene_Informacoes_Financeiras_Download.xls"
balanco_trimestral=pd.read_excel(url, encoding="latin-1",sheet_name="Volumes")

In [619]:
balanco_trimestral.drop(columns="Grendene S.A.",inplace=True)

In [620]:
#balanco_trimestral.iloc[[2,4],[1,2,4,6]]

In [621]:
dict_ = balanco_trimestral.iloc[[2,4],].iloc[0]

In [622]:
#balanco_trimestral = balanco_trimestral.iloc[[2,4],].rename(columns=dict_)

In [623]:
balanco_trimestral = balanco_trimestral.iloc[[2,4],]
balanco_trimestral.reset_index(inplace=True)
balanco_trimestral

,index,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90
0,NaN,2006.0,1T07,2T07,1S07,3T07,9M07,4T07,2S07,2007.0,...,2016.0,1T17,2T17,1S17,3T17,9M17,4T17,2S17,2017.0,1T18
1,NaN,31503.0,13152,6324,19476,7609,27085,12975,20584,40060.0,...,39962.0,11016,9228,20244,8733,28977,15994,24727,44971.0,10991

In [624]:
balanco_trimestral = balanco_trimestral.iloc[[0,1]].reset_index().iloc[:,2:]
balanco_trimestral

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90
0,2006.0,1T07,2T07,1S07,3T07,9M07,4T07,2S07,2007.0,1T08,...,2016.0,1T17,2T17,1S17,3T17,9M17,4T17,2S17,2017.0,1T18
1,31503.0,13152,6324,19476,7609,27085,12975,20584,40060.0,18631,...,39962.0,11016,9228,20244,8733,28977,15994,24727,44971.0,10991

In [625]:
balanco_trimestral = balanco_trimestral.transpose().rename(columns={0:"trimestre",1:"exportacao"})

In [626]:
balanco_trimestral.info()

<class 'pandas.core.frame.DataFrame'>
Index: 90 entries, Unnamed: 1 to Unnamed: 90
Data columns (total 2 columns):
trimestre     90 non-null object
exportacao    90 non-null object
dtypes: object(2)
memory usage: 2.1+ KB

In [627]:
balanco_trimestral = balanco_trimestral.reset_index().drop(axis=1, columns="index")

In [628]:
balanco_trimestral.trimestre = balanco_trimestral.trimestre.astype("str")

In [629]:
balanco_trimestral

   trimestre exportacao
0     2006.0      31503
1       1T07      13152
2       2T07       6324
3       1S07      19476
4       3T07       7609
5       9M07      27085
6       4T07      12975
7       2S07      20584
8     2007.0      40060
9       1T08      18631
10      2T08       6786
11      1S08      25417
12      3T08       9142
13      9M08      34559
14      4T08      13285
15      2S08      22427
16    2008.0      47844
17      1T09      15722
18      2T09       8141
19      1S09      23863
20      3T09       7724
21      9M09      31587
22      4T09      16698
23      2S09      24422
24    2009.0      48285
25      1T10      21201
26      2T10      10173
27      1S10      31374
28      3T10       9213
29      9M10      40587
..       ...        ...
60      3T14      11395
61      9M14      36319
62      4T14      15874
63      2S14      27269
64    2014.0      52193
65      1T15      12419
66      2T15       8645
67      1S15      21064
68      3T15      10107
69      9M15      31171
70      4T15      14755
71      2S15      24862
72    2015.0      45926
73      1T16      11159
74      2T16       7374
75      1S16      18533
76      3T16      10220
77      9M16      28753
78      4T16      11209
79      2S16      21429
80    2016.0      39962
81      1T17      11016
82      2T17       9228
83      1S17      20244
84      3T17       8733
85      9M17      28977
86      4T17      15994
87      2S17      24727
88    2017.0      44971
89      1T18      10991

[90 rows x 2 columns]

In [630]:
balanco_trimestral = balanco_trimestral[balanco_trimestral.trimestre.str[1] == "T"]
balanco_trimestral.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 1 to 89
Data columns (total 2 columns):
trimestre     45 non-null object
exportacao    45 non-null object
dtypes: object(2)
memory usage: 1.1+ KB

In [631]:
balanco_trimestral.trimestre = balanco_trimestral.trimestre.apply(
    lambda string:get_trimestre(string))

/home/rafa/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [632]:
balanco_trimestral.exportacao = balanco_trimestral.exportacao.apply(
    lambda exportacao:exportacao*1000)

/home/rafa/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [616]:
balanco_mensal.iloc[23]

1M    2770032
2M    2386557
3M    5822909
Name: 2008-12-01 00:00:00, dtype: object

In [ ]:
6786
6744934

In [617]:
balanco_trimestral

1     13152000
2      6324000
4      7609000
6     12975000
9     18631000
10     6786000
12     9142000
14    13285000
17    15722000
18     8141000
20     7724000
22    16698000
25    21201000
26    10173000
28     9213000
30    14046000
33    12832000
34     7481000
36     9313000
38    12903000
41    14244000
42     7796000
44     8796000
46    14510000
49    15063000
50     9662000
52    10930000
54    14873000
57    15780000
58     9144000
60    11395000
62    15874000
65    12419000
66     8645000
68    10107000
70    14755000
73    11159000
74     7374000
76    10220000
78    11209000
81    11016000
82     9228000
84     8733000
86    15994000
89    10991000
Name: exportacao, dtype: int64